.header
    padding: 24px 0
.menu
    justify-content: space-between
.logo
    color: $primary
    text-transform: uppercase
.nav
    &__item
        color: $light
        text-transform: uppercase
        margin: 0 20px
.phone
    color: $primary
.contacts
    &__phone
        margin-right: 45px